body {
    overflow: hidden;
    margin: 0;
}

.fixed-fullpage {
    position: fixed;
}

.msg-container {
    overflow: hidden;
}

.input-container {
    width: 100%;
    bottom: 0;
    position: fixed;
}

.input-container input {
    width: 100%;
}

input.msg-button {
    width: 9%;
}

.input-container input.msg-input {
    width: 90%;
}
